@{
    ViewData["Title"] = "Home Page";
}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v8.0" nonce="NuvdAJD3"></script>
<script src="https://kit.fontawesome.com/523d8ece38.js" crossorigin="anonymous"></script>
<div class="text-center">
    <h1 class="display-4 welcome-title">Welcome to the best sport shop</h1>
    <iframe class="youtube-video" width="560" height="315" src="https://www.youtube.com/embed/d1qnvK3ID_w?autoplay=1&mute=1&start=9"></iframe>
</div>
<div class="text-center">
    <a class="button" type="button" href="Products">START BUYING</a>
</div>

<div class="text-center facebook-label">
    <div>
        Visit our <a href="https://www.facebook.com/Sport-Shop-111543207406214"  target="_blank">facebook</a> page
    </div>
    <div class="fb-share-button share" data-href="https://www.facebook.com/Sport-Shop-111543207406214" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2FSport-Shop-111543207406214&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">שתף</a></div>
    <h1 class="display-4">Our Products</h1>
    @*<div class="products-catalog container-fluid">
            @foreach (var product in ViewBag.Products)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=@($"~/images/{product.Image}") alt="@product.Name" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            }
        </div>*@
    <div class="container">
        <div class="row">
            @foreach (var product in ViewBag.Products)
            {
            <div class="col-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img class="card-img-top" src=@($"~/images/{product.Image}") alt="@product.Name" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
