@model SportShop.Models.Order

@{
    ViewData["Title"] = "CatalogView";
}

<h1 class="display-4">Our Products</h1>
<div class="container catalog">
    <div class="row">
        @foreach (var product in ViewBag.Products)
        {
            <div class="col-4">
                <div class="card mb-4" style="width: 18rem;">
                    <img class="card-img-top" src=@($"~/images/{product.ImageName}") alt="@product.Name" asp-append-version="true">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description.</p>
                        <p class="card-text">@(product.Price) NIS</p>
                    </div>
                    <footer class="row">
                        <a class="btn btn-link product-video" href="@(product.VideoUrl)">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                        <button type="button" class="btn btn-link product-amount-button">
                            <i class="fas fa-plus fa-2x"></i>
                        </button>
                        <input class="col-2 product-amount" type="text" placeholder="0"/>
                        <button type="button" class="btn btn-link product-amount-button">
                            <i class="fas fa-minus fa-2x"></i>
                        </button>
                    </footer>
                </div>
            </div>
        }
    </div>
</div>

