@model IEnumerable<SportShop.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>View your Orders!</h2>

<section id="filters">
    @using (Html.BeginForm())
    {
        <div>
            <span>
                <label for="above" class="control-label"><b>Date</b></label>
                from @Html.TextBox("start", DateTime.Now, new {@class = "form-control", @type = "datetime-local"})
                to @Html.TextBox("end", DateTime.Now, new {@class = "form-control", @type = "datetime-local" })
            </span>
        </div>

        <div id="price-range">
            <span>
                <label for="above" class="control-label"><b>Price</b></label>
                from @Html.TextBox("above", null, new {@class = "form-control", @type = "number", @min="0"})
                to @Html.TextBox("below", null, new {@class = "form-control", @type = "number", @min = "0" })
            </span>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            <i class="fa fa-search"></i>
        </button>
    }
</section>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sum)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Id)
            </td>
            <td>
                @Html.DisplayFor(model => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.Sum) NIS
            </td>
            <td>
                @if (Context.Session.GetString("Admin") != null)
                {
                    <span><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | </span>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>